*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: bisque;
    
}


.menu ul{
    display: flex;
    list-style: none;
  
}
.menu ul li{
    margin: 10px;
}
.menu ul li a{
    text-decoration: none;
}
.logo{
    height: 75px;
    width: 75px;
    background-image: linear-gradient(to right, #eca913, #fee3b2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 5px;

}
 .logo p{
     transform: rotate(-30deg);
     color: white;
     
 }
 .kev{
     color: blue;
 }
 .landing{
     height: 40vh;
     width: 100%;
     background-image:url(./images/pizza1.jpg);
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
 }
 .landing:hover{
     opacity: .8;
 }