*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color: bisque;
}


.menu ul{
    display: flex;
    list-style: none;
    text-decoration: none;
}
.menu ul li{
    margin: 10px;
}
.logo{
    height: 50px;
    width: 50px;
    background-image: linear-gradient(to right, #eca913, #f9e3b2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:10%;
    
    

}
 .logo h3{
     transform: rotate(-30deg);
 }