*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: bisque;
    
}


.menu ul{
    display: flex;
    list-style: none;
  
}
.menu ul li{
    margin: 10px;
}
.menu ul li a{
    text-decoration: none;
}
.logo{
    height: 80px;
    width: 80px;
    background-image: linear-gradient(to right, #eca913, #fee3b2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 5px;

}
 .logo p{
     transform: rotate(-30deg);
     color: white;
     text-decoration: underline;
     text-decoration-color: blue;
     text-decoration-thickness: 5px;
     
 }
 .kev{
     color: blue;
     text-decoration: underline;
     text-decoration-color: blanchedalmond;
     text-decoration-thickness: 5px;
 }
 .landing{
     height: 40vh;
     width: 100%;
     background-image:url('./images/pizza1.jpg');
     background-size: cover;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     color: rgb(2, 12, 17);
 }
 .landing:hover{
     opacity: .8;
     overflow: hidden;
 }

 .bigCard{
   
 }

 .output{
     width: 50vw;
     height: 30vh;
     display: flex;
     flex-direction: column;
     background-color: lightsalmon;
 }

 .location, .topping, .crust, .purchase
 {
     margin-top: 10px;
 }

 .card{

    margin-left:20px;
 }
 .card img{
     text-align: center;
 }
 .card img:hover{
    transform: scale(0.9);
    transition: .6s ease-in-out;
 }
 .remove{
    color:red;

 }
 .location{
     display: none;
 }